<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.pagehelper.mapper.CountryMapper">
  <select id="selectAll" resultType="Country">
    select * from country
  </select>

  <select id="selectGreterThanId" resultType="Country">
    select * from country where id &gt;#{id}
  </select>

  <select id="selectGreterThanIdAndNotEquelContryname" resultType="Country">
    select a.* from country a left join country b on a.id = b.id where a.id &gt;#{id} and b.countryname &lt;&gt; #{countryname} order by a.id
  </select>

  <select id="selectAllOrderby" resultType="com.github.pagehelper.model.Country">
      select * from country order by countrycode desc
  </select>

  <select id="selectAllOrderByParams" resultType="com.github.pagehelper.model.Country">
    select * from country order by ${order1} desc,${order2} asc
  </select>
  <select id="selectAllOrderByMap" resultType="com.github.pagehelper.model.Country">
    select * from country where id &lt;&gt; #{order1} and id &lt;&gt; #{order2}
  </select>
  <select id="selectAllOrderByList" resultType="com.github.pagehelper.model.Country">
    select * from country where id not in
    <foreach collection="list" item="par" separator="," open="(" close=")">
      #{par}
    </foreach>
  </select>
  <select id="selectAllOrderByArray" resultType="com.github.pagehelper.model.Country">
    select * from country where id not in
    <foreach collection="array" item="par" separator="," open="(" close=")">
      #{par}
    </foreach>
  </select>
  <select id="selectIf" resultType="com.github.pagehelper.model.Country">
    select * from country
    <if test="@Ognl@isNotNull(id)">
    <!--<if test="id!=null">-->
      where id &gt; #{id}
    </if>
  </select>
  <select id="selectIf3" parameterType="Country" resultType="com.github.pagehelper.model.Country">
    select * from country
    <if test="id > 0">
      where id &gt; #{id}
    </if>
  </select>
  <select id="selectIf2" resultType="com.github.pagehelper.model.Country">
    select * from country where id &gt; #{id1}
    <if test="id2!=null">
      and id &gt; #{id2}
    </if>
  </select>
  <select id="selectIf2List" resultType="com.github.pagehelper.model.Country">
    select * from country
    <where>
      <if test="id1!=null and id1.size>0">
        id not in
        <foreach collection="id1" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
      </if>
      <if test="id2!=null and id2.size>0">
        and id not in
        <foreach collection="id2" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
      </if>
    </where>
  </select>
  <select id="selectIf2ListAndOrder" resultType="com.github.pagehelper.model.Country">
    select * from country
    <where>
      <if test="id1!=null and id1.size>0">
        id not in
        <foreach collection="id1" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
      </if>
      <if test="id2!=null and id2.size>0">
        and id not in
        <foreach collection="id2" item="id" open="(" close=")" separator=",">
          #{id}
        </foreach>
      </if>
    </where>
    <if test="order!=null and order!=''">
      order by ${order}
    </if>
  </select>
  <select id="selectChoose" resultType="com.github.pagehelper.model.Country">
    select * from country
    <where>
      <choose>
        <when test="id1!=null">
          id &lt;&gt; #{id1}
        </when>
        <otherwise>
          and id &lt;&gt; #{id2}
        </otherwise>
      </choose>
    </where>
  </select>
  <select id="selectLike" resultType="com.github.pagehelper.model.Country">
    select * from country where 1=1
    <if test="countryname!=null and countryname!=''">
      and lower(countryname) like '%${countryname}%'
    </if>
    order by id
  </select>
  <select id="selectByOrder2" resultType="com.github.pagehelper.model.Country">
    select * from country order by ${order}
  </select>

  <select id="selectUnion" resultType="com.github.pagehelper.model.Country">
    select * from country where id &gt;180
    union
    select * from country where id &lt;=10 order by id
  </select>
  <select id="selectUnion" resultType="com.github.pagehelper.model.Country" databaseId="oracle">
    select * from country where id &gt;180
    union
    select * from country where id &lt;=10
  </select>
  <select id="selectLeftjoin" resultType="com.github.pagehelper.model.Country">
    select a.id,b.countryname,a.countrycode from country a
    left join country b on a.id = b.id
    order by a.id
  </select>
  <select id="selectWith" resultType="com.github.pagehelper.model.Country">
    with rs as (select id from country where id>150) select * from country where id in (select * from rs)
  </select>

  <!--select column中包含参数时-->
  <select id="selectColumns" resultType="com.github.pagehelper.model.Country">
    select
    <if test="columns==null or columns.length == 0">
      *
    </if>
    <if test="columns!=null and columns.length > 0">
      <foreach collection="columns" item="column" separator=",">
        ${column}
      </foreach>
    </if>
    from country order by id
  </select>
  <select id="selectMULId" resultType="com.github.pagehelper.model.Country">
    select id * #{mul} as id,countryname,countrycode from country order by id
  </select>

  <select id="selectGroupBy" resultType="com.github.pagehelper.model.Country">
    select countryname,countrycode,count(id) id from country group by countryname,countrycode
  </select>

</mapper>
