<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014-2017 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.pagehelper.mapper.CountryMapper">
    <cache/>
    <select id="selectAll" resultType="Country">
        select * from country order by id
    </select>
    <select id="selectAll_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectGreterThanId" resultType="Country">
        select * from country where id &gt;#{id} order by id
    </select>
    <select id="selectGreterThanId_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where id &gt;#{id}
    </select>

    <select id="selectGreterThanIdAndNotEquelContryname" resultType="Country">
        select a.* from country a left join country b on a.id = b.id where a.id &gt;#{id} and b.countryname &lt;&gt;
        #{countryname} order by a.id
    </select>
    <select id="selectGreterThanIdAndNotEquelContryname_TESTCOUNT" resultType="Long">
        select count(distinct a.id) from country a left join country b on a.id = b.id where a.id &gt;#{id} and b.countryname &lt;&gt;
        #{countryname}
    </select>

    <select id="selectAllOrderby" resultType="com.github.pagehelper.model.Country">
        select * from country order by countrycode desc
    </select>
    <select id="selectAllOrderby_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectAllOrderByParams" resultType="com.github.pagehelper.model.Country">
        select * from country order by ${order1} desc,${order2} asc
    </select>
    <select id="selectAllOrderByParams_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectAllOrderByMap" resultType="com.github.pagehelper.model.Country">
        select * from ${tableName} where id &lt;&gt; #{order1} and id &lt;&gt; #{order2} order by id
    </select>
    <select id="selectAllOrderByMap_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where id &lt;&gt; #{order1} and id &lt;&gt; #{order2}
    </select>

    <select id="selectAllOrderByList" resultType="com.github.pagehelper.model.Country">
        select * from country where id not in
        <foreach collection="list" item="par" separator="," open="(" close=")">
            #{par}
        </foreach>
        order by id
    </select>
    <select id="selectAllOrderByList_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where id not in
        <foreach collection="list" item="par" separator="," open="(" close=")">
            #{par}
        </foreach>
    </select>

    <select id="selectAllOrderByArray" resultType="com.github.pagehelper.model.Country">
        select * from country where id not in
        <foreach collection="array" item="par" separator="," open="(" close=")">
            #{par}
        </foreach>
        order by id
    </select>
    <select id="selectAllOrderByArray_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where id not in
        <foreach collection="array" item="par" separator="," open="(" close=")">
            #{par}
        </foreach>
    </select>

    <select id="selectIf" resultType="com.github.pagehelper.model.Country">
        select * from country
        <if test="@Ognl@isNotNull(id)">
            <!--<if test="id!=null">-->
            where id &gt; #{id}
        </if>
        order by id
    </select>
    <select id="selectIf_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
        <if test="@Ognl@isNotNull(id)">
            <!--<if test="id!=null">-->
            where id &gt; #{id}
        </if>
    </select>

    <select id="selectIf3" parameterType="Country" resultType="com.github.pagehelper.model.Country">
        select * from country
        <if test="id > 0">
            where id &gt; #{id}
        </if>
        order by id
    </select>
    <select id="selectIf3_TESTCOUNT" parameterType="Country" resultType="Long">
        select count(distinct id) from country
        <if test="id > 0">
            where id &gt; #{id}
        </if>
    </select>

    <select id="selectIf2" resultType="com.github.pagehelper.model.Country">
        select * from country where id &gt; #{id1}
        <if test="id2!=null">
            and id &gt; #{id2}
        </if>
    </select>
    <select id="selectIf2_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where id &gt; #{id1}
        <if test="id2!=null">
            and id &gt; #{id2}
        </if>
    </select>

    <select id="selectIf2List" resultType="com.github.pagehelper.model.Country">
        select * from country
        <where>
            <if test="id1!=null and id1.size>0">
                id not in
                <foreach collection="id1" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="id2!=null and id2.size>0">
                and id not in
                <foreach collection="id2" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id
    </select>
    <select id="selectIf2List_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
        <where>
            <if test="id1!=null and id1.size>0">
                id not in
                <foreach collection="id1" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="id2!=null and id2.size>0">
                and id not in
                <foreach collection="id2" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectIf2ListAndOrder" resultType="com.github.pagehelper.model.Country">
        select * from country
        <where>
            <if test="id1!=null and id1.size>0">
                id not in
                <foreach collection="id1" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="id2!=null and id2.size>0">
                and id not in
                <foreach collection="id2" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
        <if test="order!=null and order!=''">
            order by ${order}
        </if>
        <if test="order==null or order==''">
            order by id
        </if>
    </select>
    <select id="selectIf2ListAndOrder_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
        <where>
            <if test="id1!=null and id1.size>0">
                id not in
                <foreach collection="id1" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
            <if test="id2!=null and id2.size>0">
                and id not in
                <foreach collection="id2" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectChoose" resultType="com.github.pagehelper.model.Country">
        select * from country
        <where>
            <choose>
                <when test="id1!=null">
                    id &lt;&gt; #{id1}
                </when>
                <otherwise>
                    and id &lt;&gt; #{id2}
                </otherwise>
            </choose>
        </where>
        order by id
    </select>
    <select id="selectChoose_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
        <where>
            <choose>
                <when test="id1!=null">
                    id &lt;&gt; #{id1}
                </when>
                <otherwise>
                    and id &lt;&gt; #{id2}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="selectLike" resultType="com.github.pagehelper.model.Country">
        select * from country where 1=1
        <if test="countryname!=null and countryname!=''">
            and lower(countryname) like '%${countryname}%'
        </if>
        order by id
    </select>
    <select id="selectLike_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where 1=1
        <if test="countryname!=null and countryname!=''">
            and lower(countryname) like '%${countryname}%'
        </if>
    </select>

    <select id="selectByMap" resultType="com.github.pagehelper.model.Country">
        select * from country where 1=1
        <if test="countryname!=null and countryname !=''">
            and countryname= #{countryname}
        </if>
        <if test="countrycode!=null and countrycode !=''">
            and countrycode= #{countrycode}
        </if>
    </select>
    <select id="selectByMap_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where 1=1
        <if test="countryname!=null and countryname !=''">
            and countryname= #{countryname}
        </if>
        <if test="countrycode!=null and countrycode !=''">
            and countrycode= #{countrycode}
        </if>
    </select>

    <select id="selectByOrder2" resultType="com.github.pagehelper.model.Country">
        select * from country order by ${order}
    </select>
    <select id="selectByOrder2_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectUnion" resultType="com.github.pagehelper.model.Country">
        select id,countryname,countrycode from country where id &gt;180
        union
        select id,countryname,countrycode from country where id &lt;=10 order by id
    </select>
    <select id="selectUnion_TESTCOUNT" resultType="Long">
        select count(distinct id) from (
        select id,countryname,countrycode from country where id &gt;180
        union
        select id,countryname,countrycode from country where id &lt;=10) temp
    </select>

    <select id="selectLeftjoin" resultType="com.github.pagehelper.model.Country">
        select a.id,b.countryname,a.countrycode from country a
        left join country b on a.id = b.id
        order by a.id
    </select>
    <select id="selectLeftjoin_TESTCOUNT" resultType="Long">
        select count(distinct a.id) from country a
        left join country b on a.id = b.id
    </select>

    <select id="selectWith" resultType="com.github.pagehelper.model.Country">
        with rs as (select id from country where id>150) select * from country where id in (select * from rs) order by
        id
    </select>
    <select id="selectWith_TESTCOUNT" resultType="Long">
        with rs as (select id from country where id>150) select count(distinct id) from country where id in (select * from rs)
    </select>

    <!--select column中包含参数时-->
    <select id="selectColumns" resultType="com.github.pagehelper.model.Country">
        select
        <if test="columns==null or columns.length == 0">
            *
        </if>
        <if test="columns!=null and columns.length > 0">
            <foreach collection="columns" item="column" separator=",">
                ${column}
            </foreach>
        </if>
        from country order by id
    </select>
    <!--select column中包含参数时-->
    <select id="selectColumns_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectMULId" resultType="com.github.pagehelper.model.Country">
        select id * #{mul} as id,countryname,countrycode from country order by id
    </select>
    <select id="selectMULId_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectGroupBy" resultType="com.github.pagehelper.model.Country">
        /*keep orderby*/select countryname,countrycode,count(id) id from country
        group by countryname,countrycode
        order by countryname,countrycode
    </select>
    <select id="selectGroupBy_TESTCOUNT" resultType="Long">
        select count(distinct countryname) from (
        select countryname,countrycode,count(id) id from country
        group by countryname,countrycode
        order by countryname,countrycode) as temp
    </select>

    <select id="selectByWhereMap" resultType="com.github.pagehelper.model.Country">
        select * from country
        <where>
            <foreach collection="map" item="val" index="key" separator="and">
                ${key} = #{val}
            </foreach>
        </where>
        order by id
    </select>
    <select id="selectByWhereMap_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
        <where>
            <foreach collection="map" item="val" index="key" separator="and">
                ${key} = #{val}
            </foreach>
        </where>
    </select>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <select id="selectByExample" resultType="com.github.pagehelper.model.Country"
            parameterType="com.github.pagehelper.model.CountryExample">
        select
        <if test="distinct">
            distinct
        </if>
        Id, countryname, countrycode
        from country
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="orderByClause == null">
            order by id
        </if>
    </select>
    <select id="selectByExample_TESTCOUNT" resultType="Long"
            parameterType="com.github.pagehelper.model.CountryExample">
        select
        count(
        <if test="distinct">
            distinct
        </if>
        Id)
        from country
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <select id="selectDistinct" resultType="com.github.pagehelper.model.Country">
        select distinct SUBSTR(countryname,1,1) countryname from country
    </select>
    <select id="selectDistinct_TESTCOUNT" resultType="Long">
        select count(distinct SUBSTR(countryname,1,1)) from country
    </select>

    <select id="selectExists" resultType="com.github.pagehelper.model.Country">
        select * from country a where exists(select 1 from country b where a.id = b.id and b.id >100)
    </select>
    <select id="selectExists_TESTCOUNT" resultType="Long">
        select count(distinct id) from country a where exists(select 1 from country b where a.id = b.id and b.id >100)
    </select>

    <select id="select1" resultType="com.github.pagehelper.model.Country">
        select * from country a where 1=1
        <if test="country!=null and country.countryname !=null and country.countryname!=null">
            and countryname = #{country.countryname}
        </if>
    </select>
    <select id="select1_TESTCOUNT" resultType="Long">
        select count(distinct id) from country a where 1=1
        <if test="country!=null and country.countryname !=null and country.countryname!=null">
            and countryname = #{country.countryname}
        </if>
    </select>

    <select id="selectByPageNumSize" resultType="com.github.pagehelper.model.Country">
        select * from country
    </select>
    <select id="selectByPageNumSize_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectByPageNumSizeOrderBy" resultType="com.github.pagehelper.model.Country">
        select * from country
    </select>
    <select id="selectByPageNumSizeOrderBy_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectByOrderBy" resultType="com.github.pagehelper.model.Country">
        select * from country
    </select>
    <select id="selectByOrderBy_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectByQueryModel" resultType="com.github.pagehelper.model.Country">
        select * from country
    </select>
    <select id="selectByQueryModel_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <select id="selectByIdList" resultType="com.github.pagehelper.model.Country">
        select * from country
        <if test="idList != null and idList.size()>0">
            where id in
            <foreach collection="idList" item="id" open="(" close=")" separator=",">
              #{id}
            </foreach>
        </if>
    </select>
    <select id="selectByIdList_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
        <if test="idList != null and idList.size()>0">
            where id in
            <foreach collection="idList" item="id" open="(" close=")" separator=",">
              #{id}
            </foreach>
        </if>
    </select>

    <select id="selectByIdList2" resultType="com.github.pagehelper.model.Country">
        <foreach collection="idList" item="id" separator="union all">
            select * from country where id = #{id}
        </foreach>
    </select>
    <select id="selectByIdList2_TESTCOUNT" resultType="Long">
        select count(distinct id) from(
        <foreach collection="idList" item="id" separator="union all">
            select * from country where id = #{id}
        </foreach>
        ) temp
    </select>

    <select id="execute" resultType="map">
        ${sql}
    </select>
    
    <resultMap id="collectionMap" type="com.github.pagehelper.model.Country">
        <id column="id" property="id"/>
        <collection property="countries" column="{id=id}" ofType="com.github.pagehelper.model.Country" select="selectGreterThanId"/>
    </resultMap>
    
    <select id="selectCollectionMap" resultMap="collectionMap">
        select * from country
    </select>
    <select id="selectCollectionMap_TESTCOUNT" resultType="Long">
        select count(distinct id) from country
    </select>

    <resultMap id="codeMap" type="com.github.pagehelper.model.CountryCode">
        <id column="id" property="id"/>
        <result column="countrycode" property="countrycode" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    </resultMap>

    <select id="selectByCode" resultMap="codeMap">
        select * from country where countrycode = #{code, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
    </select>
    <select id="selectByCode_TESTCOUNT" resultType="Long">
        select count(distinct id) from country where countrycode = #{code, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
    </select>
</mapper>
