<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.orderbyhelper.mapper.OrderMapper">
    <select id="selectAll" resultType="com.github.orderbyhelper.mapper.OrderCountry">
        select * from country_order order by id
    </select>
    <select id="selectUnion" resultType="com.github.orderbyhelper.mapper.OrderCountry">
        select id,countryname,countrycode from country_order where id &gt;#{start}
        union
        select id,countryname,countrycode from country_order where id &lt;= #{end}
    </select>
    <select id="selectLeft" resultType="com.github.orderbyhelper.mapper.OrderCountry">
        select a.id,b.countryname,a.countrycode from country_order a
        left join country_order b on a.id = b.id
    </select>
    <select id="selectWith" resultType="com.github.orderbyhelper.mapper.OrderCountry">
        with rs as (select id from country_order where id>#{start}) select * from country_order where id in (select * from rs)
    </select>
    <select id="selectDynamic" resultType="com.github.orderbyhelper.mapper.OrderCountry">
        select * from country_order 
        <where>
            <if test="id != null">
                id &lt; #{id}
            </if>
        </where>
    </select>
</mapper>
