<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="false"/>
    <setting name="aggressiveLazyLoading" value="true"/>
    <setting name="logImpl" value="LOG4J"/>
  </settings>

  <typeAliases>
    <package name="com.github.pagehelper.model"/>
  </typeAliases>

<plugins>
  <plugin interceptor="com.github.pagehelper.PageHelper">
    <property name="dialect" value="oracle"/>
  </plugin>
</plugins>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
				<property name="" value="" />
			</transactionManager>
			<dataSource type="UNPOOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value=" jdbc:oracle:thin:@//192.168.123.151:1521/orcl" />
				<property name="username" value="nmgsbx" />
        <property name="password" value="654321" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/github/pagehelper/mapper/OracleMapper.xml" />
	</mappers>

</configuration>
